.social-links {
    border-radius: 30%;
    border: .5px solid black;
    padding: 5px;
}

.social-links:hover {
    background-color: #000000;
    border: none;
}

.list {
    transition: all .3s ease-in-out;
}

.list a {
    border-bottom: .1px solid #00000000;

}

.list:hover a {
    color: #000000;
    border-bottom: .1px solid #000000;
}